* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 70px;
  background: #ff385c;
  padding: 0 4%;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .brand {
  color: #fff;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.container {
  padding: 0 4%;
  min-height: calc(100vh - 150px);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #999;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card-list .card {
  flex-basis: calc(25% - 20px);
  width: calc(25% - 20px);
  margin: 10px;
  list-style: none;
  cursor: pointer;
}

.card-list .card .card-img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
  .card-list .card {
    flex-basis: calc((100% / 3) - 20px);
    width: calc((100% / 3) - 20px);
  }
}

@media only screen and (max-width: 900px) {
  .card-list .card {
    flex-basis: calc(50% - 20px);
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .card-list .card {
    flex-basis: 100%;
    width: 100%;
  }

  .card-list .card .card-img {
    height: 200px;
  }
}

.card-list .card .card-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.card-list .card .card-type .type {
  color: #717171;
  margin-bottom: 5px;
}

.card-list .card .card-type .star {
  display: flex;
  align-items: center;
}

.card-list .card .card-type .star svg {
  padding-right: 4px;
  fill: #ff385c;
}

.card-list .card .card-content .card-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-list .card .card-content .card-price {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 19px;
  color: #222222;
}

.card-list .card .card-content .card-button {
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 6px 15px;
  display: inline-block;
  border-radius: 3px;
  margin-top: auto;
}

.footer {
  height: 100px;
  background: #333;
  color: #fff;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
